.searchbar{
    margin: 15px 5px;
    display: flex;
    height: 1cm;
    margin-bottom: 20px;
}

.navbar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    font-size: 18px;    
    margin-left: 50px;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.video-section:first-child{
    border-top: none;
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:3rem 1rem;
    padding: .5rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
}

#searchbtn{
    background-color: rgb(255, 123, 0);
    border: none;
    width: 4rem;
   
    font-size: 18px;
        
}
#searchbtn:hover{
    background-color: orange
}
#search{
    color: white;
    border: none;
    width: 80%;
    padding: 15px 0;
    font-size: 18px;
    padding: 15px;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}


.searchbar label{
    font-family: monospace;
    font-size: 25px;
    word-wrap: normal;
    margin: 5px 15px;
}

.video-container{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    position: relative;
    display: flex;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0,0,0,.85);
    color: white;
    right: 1.5vh;
    bottom: .5vh;
    padding: .1em .3em;
    border-radius: .3em;
    font-style: .9rem;
}

.thumbnail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
}

.channel-icon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.video-bottom-section{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.video-details{
    display: flex;
    flex-direction: column;
}

.video-title{
    
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: white;
}

.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: rgb(255, 123, 0);
    transition: color 50ms;
}

.video-channel-name:hover{
    color: rgb(255, 72, 0);
    
}


.video-metadata{
    color: rgb(255, 255, 255);
}

.addvideo{
    margin-left: 50px;
    align-items: center;
    font-size: 35px;
    background: none;
    color: white;
    border: none;
    transition: ease-in-out 80ms;
    
}

.addvideo:hover{
    color: rgb(255, 123, 0);
}

li{
    display: inline;
    margin-right: 5vh; 
      
}

.menu-items li:hover{
    border-bottom: 2px solid rgb(0, 255, 76);
    
}

.menu-items a{
    color: rgb(255, 157, 0);
    text-decoration: none;
}

.menu-item1,.menu-item2,.menu-item3,.menu-item4{
    border-radius: 15%;
    border: 2px thick;
    border-color: aqua;
}

.modal-content {
    position: relative;
    background-color: #474242;
    width: 100%;
    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: 0.4s;
    animation-name: zoomIn;
    animation-duration: 0.4s
  }
  
  .close {
    color: rgb(255, 111, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #000000;
    color: white;
  }
  
  .modal-body {
    display: inline-flex;    
    padding: 2px 16px;
}
  
  @-webkit-keyframes zoomIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes zoomIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }